.forklift-page-headings-alerts {
    padding-left: 0;
}

.forklift-page-section {
    border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-welcome-text {
    padding-bottom: var(--pf-global--spacer--sm);
}

.forklift-welcome__icon {
    max-width: 18rem;
    max-height: 18rem;
    padding-right:  var(--pf-global--spacer--lg);
  }

  .forklift-status-migration-running {
    color: var(--pf-global--info-color--100);
  }

  .forklift-status-migration-failed {
    color: var(--pf-global--danger-color--100);
  }

  .forklift-status-migration-succeeded {
    color: var(--pf-global--success-color--100);
  }

  .forklift-status-migration {
    padding-right: var(--pf-global--spacer--xl);
  }