.labels-view-details-item {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 0.01px solid rgb(188, 134, 134);
  max-width: 30em;
}

.labels-view-details-item--empty {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  max-width: 30em;
}
