.forklift-page-headings-alerts {
  padding-left: 0;
}

.forklift-page-section {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-title {
  font-size: 1rem;
}

.forklift-welcome__flex-text {
  align-self: normal;
  width: 100%;
}

.forklift-welcome-text {
  padding-bottom: var(--pf-global--spacer--sm);
}

.forklift-welcome__flex-icon {
  align-self: center;
}

.forklift-welcome__icon {
  padding: var(--pf-global--spacer--lg);
  width: 10rem;
}

.forklift-welcome-header-badge {
  min-width: 768px;
  margin-left: var(--pf-global--spacer--sm);
}

.forklift-status-migration-running {
  color: var(--pf-global--info-color--100);
}

.forklift-status-migration-failed {
  color: var(--pf-global--danger-color--100);
}

.forklift-status-migration-succeeded {
  color: var(--pf-global--success-color--100);
}

.forklift-status-migration {
  padding-right: var(--pf-global--spacer--xl);
}

.forklift-status-migration-donut {
  height: 270px;
  width: 270px;
}

.forklift-status-migration-chart {
  overflow: hidden;
  padding-bottom: 16px;
}

.forklift-overview__controller-card__status-icon {
  padding-right: var(--pf-global--spacer--sm);
}

.forklift-overview__pods-tab {
  background: var(--pf-c-drawer__section--BackgroundColor);
}

.forklift-welcome__body {
  padding-bottom: 16px;
}

.pf-v5-theme-dark .forklift-welcome__tiles .pf-v5-c-tile {
  background-color: #151515;

  &::before {
    border: none;
  }
}

.forklift-welcome__tiles {
  padding-top: 12px;

  .pf-v5-c-tile {
    transform: scale(0.8);
    transform-origin: left;
    margin-right: -31px;
    width: 231px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: -14px;

    img {
      vertical-align: sub;
      height: 24px;
    }

    &.vmware-tile {
      img {
        padding: 3px;
      }
    }
  }
}

.forklift-overview__text {
  max-width: 900px;
}

.forklift-overview__vms {
  height: 358px;
}

.forklift-overview__pods {
  height: 379px;
  overflow: auto;
}

.forklift-overview__create-plan-btn {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.forklift-overview__donut-card {
  min-width: 325px;
  max-width: 325px;
  width: 325px;
}

.pf-v5-c-alert-group.pf-m-toast.forklift-toast-alert-group {
  max-width: 280px;
}

.forklift-select-width {
  width: 142.95px;
}

.forklift-settings__description-list {
  gap: 2rem;
}