@use '../styles/common';

.forklift-overview__welcome-right {
  padding-top: 0;
}

.forklift-overview__welcome-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--xl)
    var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--sm);

  img {
    width: 132px;
    height: 132px;
  }
}

.forklift-overview__welcome-text {
  max-width: 900px;
}

.forklift-overview__welcome-badge {
  min-width: 768px;
  margin-left: var(--pf-t--global--spacer--sm);
}

.forklift-overview__status-migration {
  padding-right: var(--pf-t--global--spacer--xl);
}

.forklift-overview__status-migration-donut {
  height: 270px;
  width: 270px;

  --pf-v5-chart-donut--label--title--Fill: var(--pf-t--global--text--color--regular);
  --pf-v5-chart-donut--label--subtitle--Fill: var(--pf-t--global--text--color--regular);
}

.forklift-overview__status-migration-chart {
  overflow: hidden;
  padding-bottom: 16px;
  height: 100%;

  --pf-v5-chart-global--label--Fill: var(--pf-t--global--text--color--regular);
}

.forklift-overview__vms {
  height: 358px;

  .pf-v6-c-card__body {
    display: flex;
    flex-direction: column;
  }
}

.forklift-overview__pods {
  height: 379px;
  overflow: auto;
}

.forklift-overview__create-plan-btn {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.forklift-overview__donut-card {
  min-width: 325px;
  max-width: 325px;
  width: 325px;
}

.forklift-overview__cards-select {
  width: 140px;
}

.forklift-overview__pods-table {
  width: 100%;
  overflow-x: auto;
}

.pf-v6-c-alert-group.pf-m-toast.forklift-overview__settings-alert {
  max-width: 280px;
}

.forklift-overview__settings-select {
  width: 142.95px;
}
