@use '../styles/common';

.forklift-overview__welcome-right {
  align-self: normal;
  width: 100%;
}

.forklift-overview__welcome-left {
  padding: var(--pf-v5-global--spacer--3xl);
  align-self: center;
  img {
    width: 161px;
    height: 161px;
  }
}

.forklift-overview__welcome-left--img {
  width: 161px;
  height: 161px;
}

.forklift-overview__welcome-text {
  max-width: 900px;
}

.forklift-overview__welcome-tiles {
  .pf-v5-c-tile {
    transform: scale(0.8);
    transform-origin: left;
    margin-right: -31px;
    width: 231px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: -14px;

    .pf-v5-theme-dark & {
      background-color: #151515;
      &::before {
        border: none;
      }
    }

    img {
      vertical-align: sub;
      height: 24px;
    }

    &.vmware-tile {
      img {
        padding: 3px;
      }
    }
  }
}

.forklift-overview__welcome-badge {
  min-width: 768px;
  margin-left: var(--pf-global--spacer--sm);
}

.forklift-overview__status-migration {
  padding-right: var(--pf-global--spacer--xl);
}

.forklift-overview__status-migration-donut {
  height: 270px;
  width: 270px;
}

.forklift-overview__status-migration-chart {
  overflow: hidden;
  padding-bottom: 16px;
}

.forklift-overview__vms {
  height: 358px;
}

.forklift-overview__pods {
  height: 379px;
  overflow: auto;
}

.forklift-overview__create-plan-btn {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.forklift-overview__donut-card {
  min-width: 325px;
  max-width: 325px;
  width: 325px;
}

.forklift-overview__cards-select {
  width: 140px;
}

.forklift-overview__pods-table {
  width: 100%;
  overflow-x: auto;
}

.pf-v5-c-alert-group.pf-m-toast.forklift-overview__settings-alert {
  max-width: 280px;
}

.forklift-overview__settings-select {
  width: 142.95px;
}

.forklift-overview__settings-description-list {
  gap: 2rem;
}
