.forklift--create-provider-edit-card-title-logo {
  width: var(--pf-v5-global--icon--FontSize--lg);
  height: var(--pf-v5-global--icon--FontSize--lg);
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
}
