.forklift--create-provider-edit-card-title-logo {
  width: var(--pf-t--global--icon--size--xl);
  height: var(--pf-t--global--icon--size--xl);
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
}

.forklift--create-provider-edit-card-title-logo-hyperv {
  width: calc(var(--pf-t--global--icon--size--xl) * 2);
  height: var(--pf-t--global--icon--size--xl);
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
}
