.plan-create-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-plan-wizard {
  .pf-v6-c-wizard__main {
    overflow-x: auto;
  }
}

.checkbox-form-group {
  .pf-v6-c-form__group-label {
    padding-bottom: 0;
  }
}
