.forklift-table__status-cell-progress {
  margin: calc(0px - var(--pf-global--spacer--form-element))
    calc(0px - var(--pf-global--spacer--md));
  width: 100%;
  text-align: left;
}

.forklift-table__status-cell-progress div {
  grid-gap: var(--pf-global--spacer--xs);
}

.forklift-table__flex-cell {
  display: flex;
  flex-wrap: wrap;
}

.forklift-table__flex-cell-label {
  margin-left: var(--pf-global--spacer--sm);
}

.forklift-empty-state__icon {
  max-width: 14rem;
  max-height: 14rem;
}

.forklift-date-range-helper-text {
  /* use the same padding as CalendarMonth widget in the DatePicker pop-up */
  padding-left: var(--pf-global--spacer--lg);
  padding-right: var(--pf-global--spacer--lg);

  /* extra space below text */
  padding-bottom: var(--pf-global--spacer--lg);

  /* negative margin that compensates the setting used by DatePicker pop-up footer */
  margin-top: calc(-1*(var(--pf-c-popover__footer--MarginTop)));

  /* limit the width of the helper text to the typical width of the calendar. This prevents the text from expanding/widening the pop-up */
  max-width: 22rem;
}
