.clickable-progress-bar {
  margin: calc(0px - var(--pf-global--spacer--form-element))
    calc(0px - var(--pf-global--spacer--md));
  width: 100%;
  text-align: left;
}

.forklift-table__flex-cell {
  display: flex;
}

.forklift-table__flex-cell-label {
  margin-left: var(--pf-global--spacer--sm);
}
