.forklift-empty-state__icon {
  max-width: 14rem;
  max-height: 14rem;
}

.forklift-providers-list-header__alert {
  padding-top: var(--pf-global--spacer--sm);
}

.forklift-overview__controller-card__status-icon {
  padding-right: var(--pf-global--spacer--sm);
}

.forklift-table__status-cell-progress {
  width: 100%;
  text-align: left;
  padding-right: var(--pf-global--spacer--xl);;
}

.forklift-table__status-cell-progress div {
  grid-gap: var(--pf-global--spacer--xs);
}

.forklift-providers-list-buttons__icon {
  font-size: smaller;
}

.forklift-providers-list-buttons {
  min-width: 98px;
  text-align: left;
}