@use '../../styles/details-page-layout';

.forklift-page-section {
  border-top: 1px solid var(--pf-t--global--border--color--default);
}

.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}
