@use '../../styles/details-page-layout';

.forklift-page-section {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}
