.forklift-page-headings-alerts {
  padding-left: 0;
}

.forklift-page-section {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-title {
  font-size: 1rem;
}

.forklift-welcome__flex-text {
  align-self: normal;
}

.forklift-welcome-text {
  padding-bottom: var(--pf-global--spacer--sm);
}

.forklift-welcome__flex-icon {
  align-self: center;
}

.forklift-welcome__icon {
  padding: var(--pf-global--spacer--lg);
  width: 10rem;
}

.forklift-welcome-header-badge {
  min-width: 768px;
  margin-left: var(--pf-global--spacer--sm);
}

.forklift-status-migration-running {
  color: var(--pf-global--info-color--100);
}

.forklift-status-migration-failed {
  color: var(--pf-global--danger-color--100);
}

.forklift-status-migration-succeeded {
  color: var(--pf-global--success-color--100);
}

.forklift-status-migration {
  padding-right: var(--pf-global--spacer--xl);
}

.forklift-status-migration-chart {
  height: 100%;
  width: 100%;
}

.forklift-overview__controller-card__status-icon {
  padding-right: var(--pf-global--spacer--sm);
}

.forklift-overview__pods-tab {
  background: var(--pf-c-drawer__section--BackgroundColor);
}

.tile-icon-center {
  vertical-align: sub;
  height: 24px;
}

.forklift-welcome__body {
  padding-bottom: 16px;
}

.welcome-tiles .pf-v5-c-tile {
  transform: scale(0.8);
  transform-origin: left;
  margin-right: -31px;
  width: 231px;
  background-color: #151515;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: -14px;
}

.welcome-tiles .pf-v5-c-tile::before {
  border: none;
}

.forklift-welcome__text {
  max-width: 900px;
}