.forklift-page-secret-title-div {
  padding-top: var(--pf-global--spacer--sm);
  padding-bottom: var(--pf-global--spacer--xm);
}

.forklift-page-secret-content-div{
  padding-top: var(--pf-global--spacer--sm);
  padding-bottom: var(--pf-global--spacer--xm);
}

.forklift-page-secret-title {
  margin-top: var(--pf-global--spacer--sm);
  margin-bottom: 0;
}

.forklift-page-secret-subtitle {
  margin-top: var(--pf-global--spacer--xs);
  margin-bottom: var(--pf-global--spacer--md);
  color: var(--pf-global--secondary-color--100);
}

.forklift-page-details-edit-pencil{
  color: var(--pf-c-button--m-plain--Color);
}

.forklift-section-secret-content-div{
  padding-top: var(--pf-global--spacer--md);
}

.forklift-section-secret-edit{
  padding-top: var(--pf-global--spacer--md);
}

.forklift-form-section-heading {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-create-subtitle {
  padding-bottom: var(--pf-global--spacer--md);
}

.forklift-create-subtitle-errors {
  padding-top: var(--pf-global--spacer--xs);
  padding-bottom: var(--pf-global--spacer--sm);
}

.forklift-section-create-deviser {
  padding-bottom: var(--pf-global--spacer--md);
}
