# Create a copy of this file named `e2e.env` and fill in your credentials.
# This file should be sourced before running the e2e tests.
# Example: source testing/e2e.env && npm run test:jenkins

CLUSTER_USERNAME=
CLUSTER_PASSWORD=
BASE_ADDRESS=
