.forklift-create-provider-edit-section {
  padding-top: var(--pf-global--spacer--md);
}

.forklift--create-provider-edit-card-selected {
  min-width: 25%;
}

.forklift--create-provider-edit-card-title {
  justify-content: normal;
}

.forklift--create-provider-edit-card-title-logo {
  margin-right: var(--pf-global--spacer--sm);
}

.forklift--create-provider-field-error-validation {
  color: var(--pf-c-form__helper-text--m-error--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift--create-provider-field-success-validation {
  color: var(--pf-c-form__helper-text--m-success--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift--create-provider-field-default-validation {
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}