.forklift-plan-status {
  &__grey-label {
    background: var(--pf-t--global--background--color--secondary--default);
    .pf-v6-c-label__content {
      color: var(--pf-t--global--text--color--regular);
    }
  }

  &__dark-label {
    background: var(--pf-t--global--background--color--primary--default);
    .pf-v6-c-label__content {
      color: var(--pf-t--global--text--color--on-primary--default);
    }
  }

  &__gold-label {
    background: var(--pf-t--global--color--status--warning--default);
    .pf-v6-c-label__content {
      color: var(--pf-t--global--text--color--regular);
    }
  }
}
