.forklift-empty-state__icon {
  max-width: 14rem;
  max-height: 14rem;
}

.forklift-providers-list-header__alert {
  padding-top: var(--pf-t--global--spacer--sm);
}

.forklift-table__status-cell-progress {
  width: 100%;
  text-align: left;
  padding-right: var(--pf-t--global--spacer--xl);
}

.forklift-table__status-cell-progress div {
  grid-gap: var(--pf-t--global--spacer--xs);
}
