.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}

.forklift-page-section--details {
  border-top: 0;
}

.forklift-page-section {
  border-top: 1px solid var(--pf-t--global--border--color--default);
}
