.expandable-review-section-wrapper {
  position: relative;
  width: 100%;

  &__edit-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.expandable-review-section {
  .pf-v6-c-expandable-section__toggle {
    --pf-v6-c-expandable-section__toggle--Color: none;
    padding-right: 0;
    display: flex;
    align-items: center;
  }

  .pf-v6-c-expandable-section__toggle-icon {
    align-self: center;
  }
}
