@use '../../styles/common';
@use '../../styles/details-page-layout';

.forklift-page-section {
  border-top: 1px solid var(--pf-t--global--border--color--default);
}

.forklift-network-map__details-tab--update-button {
  margin-bottom: var(--pf-t--global--spacer--md);
}
