.forklift-page-plan-details-section {
  padding-top: 0;
  padding-bottom: 30px;
}

.forklift-page-headings-alerts {
  padding-left: 0;
  padding-top: 0;
}

.forklift-page-section {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}

.forklift-page-section--details {
  border-top: 0;
}

.forklift-page-plan-networks-button {
  padding-bottom: var(--pf-global--spacer--lg);
}

.forklift-page-plan-vm_concern-button {
  padding: var(--pf-global--spacer--xs);
}

.forklift-page-plan-field-error-validation {
  color: var(--pf-c-form__helper-text--m-error--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-plan-field-warning-validation {
  color: var(--pf-c-form__helper-text--m-warning--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-plan-field-success-validation {
  color: var(--pf-c-form__helper-text--m-success--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-network-map__details-tab--update-button {
  margin-bottom: var(--pf-global--spacer--md);
}

.forklift-overview__controller-card__status-icon {
  padding-right: var(--pf-global--spacer--sm);
}

.forklift-table__status-cell-progress {
  padding-right: var(--pf-global--spacer--xl);;
}

.forklift-table__status-cell-progress div {
  grid-gap: var(--pf-global--spacer--xs);
}

.forklift-page-section--details-status {
  width: 50%;
}


.forklift-page-section--details-start-button {
  padding-bottom: var(--pf-global--spacer--lg);
}

.forklift-page-plan-mapping-list {
  max-width: 55rem;
}

.forklift-page-plan-mapping {
  display: flex;
  padding-top: 30px;
  font-size: 16px;
}

.forklift-page-plan-resource-link-in-description-item {
  padding-left: 8px;
}

.forklift-alert--margin-top {
  margin-top: var(--pf-global--spacer--md);
}

.forklift-page-details-edit-pencil{
  color: var(--pf-c-button--m-plain--Color);
  margin-left: var(--pf-global--spacer--sm);
}

.forklift-section-plan-helper-text {
  padding-top: var(--pf-global--spacer--md);
  padding-bottom: var(--pf-global--spacer--sm);
}

.forklift-page-plan-details-hooks-msg {
  padding-top: 50px;
  padding-bottom: var(--pf-global--spacer--sm);
  align-self: center;
  font-size: 16px;
}

.forklift-page-plan-details-hooks-section {
  margin-top: var(--pf-global--spacer--xl);
}

.forklift-page-plan-details-hooks.playbook-yaml-popover {
  max-width: 35vw;
  overflow-y: auto;
}

.forklift-page-plan-details-vm-status:hover {
  cursor: pointer;
}

.forklift-page-plan-details-vm-status__section-header {
  margin-bottom: var(--pf-global--spacer--xs);
  margin-top: var(--pf-global--spacer--md);
}

.forklift-page-plan-details-vm-status__section-actions {
  padding-bottom: 0;
}

.forklift-page-plan-resources-td-integer {
  width: 7em;
  text-align: right;
  display: inline-block;
}

.forklift-page-plan-resources-td-fractional {
  text-align: left;
  display: inline-block;
}