.forklift-page-headings-alerts {
    padding-left: 0;
    padding-top: 0;
}

.forklift-page-section {
    border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}

.forklift-page-section--details {
  border-top: 0;
}

.forklift-page-plan-networks-button {
    padding-bottom: var(--pf-global--spacer--lg);
}

.forklift-page-plan-vm_concern-button {
    padding: var(--pf-global--spacer--xs);
}

.forklift-page-plan-field-error-validation {
  color: var(--pf-c-form__helper-text--m-error--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-plan-field-warning-validation {
  color: var(--pf-c-form__helper-text--m-warning--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-plan-field-success-validation {
  color: var(--pf-c-form__helper-text--m-success--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-plan-field-default-validation {
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-network-map__details-tab--update-button {
  margin-bottom: var(--pf-global--spacer--md);
}

.forklift-overview__controller-card__status-icon {
  padding-right: var(--pf-global--spacer--sm);
}
