.forklift-page__toolbar-item__selected-count {
  color: var(--pf-t--global--text--color--subtle);
  margin-inline-start: auto;
  align-self: center;
}

.forklift-page-toolbar__toggle-group {
  align-items: center;
}
