.forklift-page__main-title {
  padding-bottom: 0;
}

.forklift-page__toolbar-item__selected-count {
  color: var(--pf-t--global--text--color--subtle);
  margin-inline-start: auto;
  align-self: center;
}
