.wizard-step-container {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);

  > * {
    width: 100%;
  }

  .pf-v6-c-page__main-section {
    padding: 0;
  }

  &--form {
    @extend .wizard-step-container;
    max-width: 600px;
    min-width: 280px;
    width: 100%;
  }
}
