.forklift-page-headings-alerts {
  padding-left: 0;
  padding-top: 0;
}


.forklift-page-section {
  border-top: 1px solid var(--pf-global--BorderColor--100);
}

.forklift-page-section--info {
  border-bottom: 0;
  padding-bottom: 0;
}

.forklift-page-section--details {
  border-top: 0;
}

.forklift-page-provider-networks-button {
  padding-bottom: var(--pf-global--spacer--lg);
}

.forklift-page-provider-field-error-validation {
  color: var(--pf-c-form__helper-text--m-error--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-provider-field-warning-validation {
  color: var(--pf-c-form__helper-text--m-warning--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-provider-field-success-validation {
  color: var(--pf-c-form__helper-text--m-success--Color);
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-page-provider-field-default-validation {
  font-size: small;
  padding-top: var(--pf-c-form__helper-text--MarginTop);
}

.forklift-section-provider-edit-vddk-checkbox {
  padding-top: var(--pf-global--spacer--sm);
}

.forklift-section-provider-empty-vddk-label-text {
  padding-left: var(--pf-global--spacer--xs);
}
