.forklift-page-secret-title-div {
  padding-top: 14px;
  padding-bottom: var(--pf-t--global--spacer--xl);
}

.forklift-page-secret-content-div {
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--xl);
}

.forklift-page-secret-title {
  margin-top: var(--pf-t--global--spacer--xl);
  margin-bottom: 0;
}

.forklift-page-secret-subtitle {
  margin-top: var(--pf-t--global--spacer--xl);
  margin-bottom: var(--pf-t--global--spacer--xl);
  color: var(--pf-t--global--text--color--subtle);
}

.forklift-page-details-edit-pencil {
  color: var(--pf-t--global--icon--color--regular);
  margin-left: var(--pf-t--global--spacer--sm);
}

.forklift-section-secret-content-div {
  padding-top: var(--pf-t--global--spacer--md);
}

.forklift-section-secret-edit {
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--sm);
}

.forklift-section-secret-edit-switch {
  font-size: small;
  font-weight: normal;
}

.forklift-form-section-heading {
  border-top: 1px solid var(--pf-t--global--border--color--default);
}

.forklift-create-subtitle {
  padding-bottom: var(--pf-t--global--spacer--md);
}

.forklift-create-subtitle-errors {
  padding-top: var(--pf-t--global--spacer--xs);
  padding-bottom: var(--pf-t--global--spacer--sm);
}

.forklift-section-create-deviser {
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--md);
}
