.forklift--create-provider-edit-card-title {
  justify-content: normal;
}

.forklift--create-provider-edit-card-title-logo {
  margin-right: var(--pf-t--global--spacer--sm);
}

.forklift--create-provider-edit-card-selected {
  min-width: 25%;
}

.forklift-section-provider-edit-vddk-input {
  padding-top: var(--pf-t--global--spacer--sm);
}

.forklift-section-provider-edit-vddk-checkbox {
  padding-top: var(--pf-t--global--spacer--sm);
}

.forklift-create-subtitle {
  padding-bottom: 26px;
}

.forklift-section-create-divider {
  padding-top: 26px;
  padding-bottom: 16px;
}

.forklift-create-subtitle-errors {
  padding-top: 10px;
  padding-bottom: 10px;
}

.forklift-create-form-details-section {
  padding-bottom: 16px;
}
