.forklift-page-editable-description-item {
  display: flex;
}

.forklift-page-editable-description-item-button {
  padding-top: 0;
}

.forklift-page-mapping-list {
  /* <Form isWidthLimited> */
  max-width: 55rem;
}

.forklift-page-mapping-list--header {
  max-width: 55rem;
  font-weight: bold;
  border: 0;
  display: none;
}

/* stylelint-disable-next-line selector-disallowed-list */
.forklift-page-mapping-list--header .pf-v5-c-data-list__item {
  border: 0;
}

.forklift-page-mapping-list--header-action-spacer {
  width: 46px;
}

@media screen and (min-width: 768px) {
  .forklift-page-mapping-list--header {
    display: block !important;
  }
}

.forklift-page-resource-link-in-description-item {
  padding-left: 8px;
}

.forklift--create-vm-migration-plan--alert {
  margin-bottom: var(--pf-global--spacer--md);
}

.forklift--create-vm-migration-plan--section-header {
  margin-bottom: 0;
  justify-content: start;
  align-items: center;
}

.forklift--create-vm-migration-plan--form-actions {
  margin-top: var(--pf-global--spacer--md);
}

@media screen and (min-width: 768px) {
  /* stylelint-disable-next-line selector-disallowed-list */
  .forklift-page-mapping-list .pf-v5-c-form__group-label {
    display: none !important;
  }
}
