name: Release image

on:
  push:
    branches:
      - 'release-v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Increase File Descriptors Limit
        run: ulimit -n 4096

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Log in to Quay.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Extract branch name
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5
        with:
          context: .
          file: ./build/Containerfile
          push: true
          tags: quay.io/kubev2v/forklift-console-plugin:${{ env.BRANCH_NAME }}

      - name: Logout from Quay.io
        run: docker logout quay.io
