name: Test
on:
  pull_request:
env:
  CONTAINER_CMD: docker
  FORKLIFT_PLUGIN_IMAGE: localhost:5001/forklift-console-plugin:latest
  OKD_CONSOLE_YAML: ./ci/yaml/okd-console.yaml

jobs:
  linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Increase File Descriptors Limit
        run: ulimit -n 4096

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Lint, eslint and stylelint
        run: yarn lint

      - name: Lint, test i18n files
        run: yarn test:i18n

      - name: Knip
        run: yarn knip

  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - name: Increase File Descriptors Limit
        run: ulimit -n 4096

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Build project
        run: yarn build

  test:
    name: Run tests and coverage
    runs-on: ubuntu-latest
    steps:
      - name: Increase File Descriptors Limit
        run: ulimit -n 4096

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Test
        run: yarn test:coverage

      - name: Test coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  e2e:
    name: Run e2e tests
    runs-on: ubuntu-latest
    env:
      BASE_ADDRESS: http://localhost:30080
    steps:
      - name: Increase File Descriptors Limit
        run: ulimit -n 4096

      - name: Checkout
        uses: actions/checkout@v4

      - name: Run pre e2e test tasks
        run: yarn e2e:pre-test

      - name: Run cypress
        uses: cypress-io/github-action@v6
        with:
          wait-on: 'http://localhost:30080'
          browser: chrome
          headed: false
          working-directory: testing

      - name: Upload videos
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
